[Unit]
Description=CURSED Ephemeral SSH Certificate Authority

[Service]
ExecStart=/opt/curse/sbin/cursed
User=curse
Environment=HOME=/opt/curse

[Install]
WantedBy=multi-user.target
